<%= Diagnostic.human_attribute_name(:score) %>
<%= @diagnostic.score %> / <%= @diagnostic.answers_count %>

<section class="recommendations">
  <h1><%= t('.recommendations') %></h1>
  <ul>
    <% @materials.each do |material| %>
      <%= render 'material', material: material %>
    <% end %>
  </ul>
</section>
