<section class="content-section">
  <h1>
    <%= t('.description') %>
  </h1>
  <%= form_for @user, url: profile_path do |form| %>
    <%= form.text_field  :name %>
    <%= form.email_field :email %>

    <%= form.submit %>
  <% end %>
</section>
