<% if @query.present? %>
  <div class="results">
    <% if @results.empty? %>
      <div class="no-results">
        <%= t('.no_results') %>
      </div>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <li>
            <%= link_to go_path(result.slug), class: 'search-result' do %>
              <div class="result-title">
                <%= result.title %>
              </div>
              <div class="result-details">
                <%= result.details %>
              </div>
              <div class="result-title">
                <%= result.url %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <div class="welcome">

  </div>
<% end %>
