<section class="content-section">
  <h1>
    <%= t('.intro') %>
  </h1>

  <%= form_tag search_path, method: :get, class: :search do %>
    <%= text_field_tag :query, @query %>
    <%= submit_tag t(:search) %>
  <% end %>

  <% if @query.present? %>
    <div class="items">
      <% if @items.empty? %>
        <p>
          <%= t('.no_items') %>
        </p>
      <% else %>
        <ul>
          <% @items.each do |item| %>
            <%= render 'materials/visit', material: item) %>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</section>
