<section class="content-section">
  <h1>
    <%= t('.intro') %>
  </h1>

  <%= form_tag search_path, method: :get, class: :search do %>
    <%= text_field_tag :query, @query %>
    <%= submit_tag t(:search) %>
  <% end %>

  <% if @query.present? %>
    <div class="items">
      <% if @items.empty? %>
        <p>
          <%= t('.no_items') %>
        </p>
      <% else %>
        <ul>
          <% @items.each do |item| %>
            <li class="item">
              <div class="item-label">
                <%= link_to item.title, visit_path(item.slug), data: { turbolinks: false } %>
              </div>
              <div class="item-description">
                <%= item.description.truncate(200) %>
              </div>
              <div class="item-extra">
                <%= item.topic.name %>
                &bull;
                <%= item.url %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</section>
