<nav class="navigation">
  <% if current_user %>
    <%= section_tab :admin if current_user.admin? %>
    <%= section_tab :profile  %>
    <%= section_tab :logout   %>
  <% else %>
    <%= section_tab :login    %>
    <%= section_tab :register %>
  <% end %>
</nav>
