<h1 class="user-profile-title">
  <span class="level">
    <%= user.level.presence || t('.level_not_specified') %>
  </span>
  <%= user.name %>
</h1>
<dl class="user-profile-info">
  <%= profile_info(user, :email)    %>
  <%= profile_info(user, :phone)    %>
  <%= profile_info(user, :role)     %>
  <%= profile_info(user, :school)   %>
  <%= profile_info(user, :location) %>
  <%= profile_info(user, :since)    %>
  <%= profile_info(user, :about)    %>
</dl>
