<!DOCTYPE html>
<html>
  <head>
    <title>Red 101</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top-header">
      <h1 class="top-title">
        <%= link_to 'Red 101', root_path %>
      </h1>
      <nav class="top-nav">
        <ul class="nav-container">
          <% if current_user %>
            <li class="nav-link">
              <%= link_to t('.profile'), profile_path %>
            </li>
            <li class="nav-link">
              <%= link_to t('.logout'), logout_path %>
            </li>
          <% else %>
            <li class="nav-link">
              <%= link_to t('.login'), login_path %>
            </li>
            <li class="nav-link">
              <%= link_to t('.register'), new_profile_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if current_user %>
      <aside class="user-profile">
        <header class="user-profile-header">
          <h1>
            <span class="user-role">
              <%= current_user.role %>
            </span>
            <%= current_user.name %>
          </h1>
        </header>
      </aside>
      <main class="user-content">
        <nav class="main-nav">
          <ul class="nav-container">
            <% if current_user.admin? %>
              <li class="nav-link">
                <%= link_to t('.materials'), materials_path %>
              </li>
              <li class="nav-link">
                <%= link_to t('.templates'), templates_path %>
              </li>
              <li class="nav-link">
                <%= link_to t('.topics'), topics_path %>
              </li>
              <li class="nav-link">
                <%= link_to t('.questions'), questions_path %>
              </li>
              <li class="nav-link">
                <%= link_to t('.users'), users_path %>
              </li>
            <% else %>
              <li class="nav-link">
                <%= link_to t('.diagnostics'), diagnostics_path %>
              </li>
            <% end %>
          </ul>
        </nav>
        <%= yield %>
      </main>
    <% else %>
      <main class="public-content">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
