<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= safe_join([app_name, title], title_separator) %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <%= render 'brand' %>
      <%= render 'search' %>
      <%= render 'navigation' %>
    </header>
    <main>
      <aside class="sidebar">
        <%= render 'sidebar' %>
      </aside>
      <article class="content">
        <%= yield %>
      </article>
    </main>
  </body>
</html>
