<!DOCTYPE html>
<html>
  <head>
    <title><%= html_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <h1 class="brand">
        <%= link_to NavigationHelper::APP_NAME, root_path, class: 'brand-link' %>
      </h1>
      <nav class="tabs">
        <%= tab :search %>
        <%= tab :diagnose %>
        <%= tab :configure %>
      </nav>
    </header>
    <% flash.keys.each do |flash_key| %>
      <div class="flash-message <%= flash_key %>">
        <%= flash[flash_key] %>
      </div>
    <% end %>
    <main class="content">
      <%= yield %>
    </main>
    <footer class="footer">
      <%= link_to 'GitHub', 'http://github.com/rubyperu/red101' %>
    </footer>
  </body>
</html>
